{% extends 'base.html.twig' %}
{% form_theme comment_form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Art{% endblock %}

{% block body %}
    <h1>Art</h1>

    <div class="text-center">
        <img src="{{ asset('uploads/arts/' ~ art.imageFile) }}" class="rounded w-25" alt="...">
    </div>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Label</th>
                <td>{{ art.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ art.description }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ art.height }}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ art.width }}</td>
            </tr>
            <tr>
                <th>Artiste</th>
                <td>{{ art.artist }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ art.price }}€</td>
            </tr>
        </tbody>
    </table>

    <h2>Commentaires</h2>

    <ul>
    {% for comment in comments %}
        <li> {{ comment.message }}</li>
    {% endfor %}
    </ul>

    <h2>Ajouter un commentaire</h2>

    {{ form(comment_form) }}

    <a href="{{ path('app_buyer_home') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_art_edit', {'id': art.id}) }}">Modifier</a>
        {{ include('art/_delete_form.html.twig') }}
    {% endif %}


{% endblock %}
