{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

<div class="table-responsive">
    <table  class=" table table-hover table-responsive table-dark">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Date de naissance</th>
                <th>Rôle</th>
                <th>Mail Vérifié</th>
                <th>Actions</th>
                <th>Demande</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for user in users %}


            <tr>
                <td>{{ user.firstname|upper }}</td>
                <td>{{ user.lastname|upper }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthday ? user.birthday|date('d/m/Y') : '' }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <span class="badge rounded-pill text-bg-primary">Admin</span>
                        {% elseif role == 'ROLE_VENDOR'  %}
                            <span class="badge rounded-pill text-bg-info">Vendeur</span>
                        {% elseif role == 'ROLE_BUYER'%}
                            <span class="badge rounded-pill text-bg-success">Acheteur</span>
                        {% elseif role == 'ROLE_USER' and user.isVerified == false %}
                            <span class="badge rounded-pill text-bg-warning">Utilisateur en attente de vérification de mail</span>
                        {% elseif role == 'ROLE_USER' and user.expectation == true %}
                            <span class="badge rounded-pill text-bg-light">Utilisateur à valider</span>
                        {% elseif role == 'ROLE_USER' and user.isVerified == true and user.expectation == false and user.roles|length == 1%}
                            <span class="badge rounded-pill text-bg-secondary">Utilisateur</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-sm btn-light" role="button"><i class="bi bi-eye" title="Afficher"></i></a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-light" role="button"><i class="bi bi-pencil-square" title="Modifier"></i></a>
                </td>
                <td>
                    {% if user.expectation is same as true %}
                        <a class="btn btn-sm btn-success " href="{{ path('admin_user_vendor', {'id': user.id}) }}" role="button" aria-disabled="true"><i class="bi bi-check" title="Valider la demande vendeur"></i></a>
                        <a class="btn btn-sm btn-danger " href="{{ path('admin_user_delete', {'id': user.id}) }}" role="button" aria-disabled="true"><i class="bi bi-x" title="Refuser la demande vendeur"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div>
        <a href="{{ path('admin_user_new') }}" class="btn btn-sm btn-primary" role="button"><i class="bi bi-person-add"></i> Nouveau utilisateur</a>
    </div>
{% endblock %}
