{% extends 'base.html.twig' %}

{% block title %}Profil {{user.pseudo}}{% endblock %}

{% block body %}
    <h1>{{user.pseudo}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <span class="badge rounded-pill text-bg-primary">Admin</span>
                        {% elseif role == 'ROLE_VENDOR'  %}
                            <span class="badge rounded-pill text-bg-info">Vendeur</span>
                        {% elseif role == 'ROLE_BUYER'%}
                            <span class="badge rounded-pill text-bg-success">Acheteur</span>
                        {% elseif role == 'ROLE_USER' and user.isVerified == false %}
                            <span class="badge rounded-pill text-bg-warning">Utilisateur en attente de vérification de mail</span>
                        {% elseif role == 'ROLE_USER' and user.expectation == true %}
                            <span class="badge rounded-pill text-bg-light">Utilisateur à valider</span>
                        {% elseif role == 'ROLE_USER' and user.isVerified == true and user.expectation == false and user.roles|length == 1%}
                            <span class="badge rounded-pill text-bg-secondary">Utilisateur</span>
                        {% endif %}
                    {% endfor %}
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>

            <tr>
                <th>Is_verified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_user_index') }}" class="btn btn-light">Retour</a>

    <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>

    {{ include('admin/users/_delete_form.html.twig') }}
{% endblock %}
