{% extends 'base.html.twig' %}

{% block title %}Mon Profil ({{user.pseudo}}){% endblock %}

{% block body %}


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_buyer_home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('buyer_cart_index')}}">Panier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_buyer_profile', {'id': user.id}) }}">Mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <h1>MON PROFIL</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>
                {% for role in user.roles %}
                    {% if role == 'ROLE_ADMIN' %}
                        <span class="badge rounded-pill text-bg-primary">Admin</span>
                    {% elseif role == 'ROLE_VENDOR'  %}
                        <span class="badge rounded-pill text-bg-info">Vendeur</span>
                    {% elseif role == 'ROLE_BUYER'%}
                        <span class="badge rounded-pill text-bg-success">Acheteur</span>
                    {% elseif role == 'ROLE_USER' and user.isVerified == false %}
                        <span class="badge rounded-pill text-bg-warning">Utilisateur en attente de vérification de mail</span>
                    {% elseif role == 'ROLE_USER' and user.expectation == true %}
                        <span class="badge rounded-pill text-bg-light">Utilisateur à valider</span>
                    {% elseif role == 'ROLE_USER' and user.isVerified == true and user.expectation == false and user.roles|length == 1%}
                        <span class="badge rounded-pill text-bg-secondary">Utilisateur</span>
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>

            <tr>
                <th>Is_verified (a retirer)</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>vendeur (a retirer)</th>
                <td>{{ user.expectation ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    {% if user.expectation is same as true %}
        <button type="button" class="btn btn-primary" disabled>Votre demande est en cours de traitement</button>
    {% elseif user.expectation is same as false %}
        <a class="btn btn-primary" href="{{ path('app_buyer_vendor') }}" role="button" aria-disabled="true">Devenir Vendeur</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('app_buyer_edit') }}" role="button">Modifier mon Profil</a>

    {{ include('buyer/profile/_delete_form.html.twig') }}


{% endblock %}
