{% extends 'base.html.twig' %}

{% block title %}Galerie d'art{% endblock %}

{% block body %}
    <h1>Catalogue Oeuvre d'Art</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Taille</th>
                <th>Artiste</th>
                <th>Prix</th>
                <th>Oeuvre</th>
                <th>Droits</th>
            </tr>
        </thead>
        <tbody>
        {% for art in art %}
            <tr>
                <td>{{ art.id }}</td>
                <td>{{ art.label }}</td>
                <td>{{ art.description }}</td>
                <td>{{ art.height }} x {{ art.width }}</td>
                <td>{{ art.artist }}</td>
                <td>{{ art.price }}</td>
                <td><img class="image-src" src="{{ asset('uploads/arts/' ~ art.imageFile) }}" alt="Tableau_{{art.label}}"></td>
                <td>
                    <a href="{{ path('admin_art_show', {'id': art.id}) }}">show</a>
                    <a href="{{ path('admin_art_edit', {'id': art.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_art_new') }}">Create new</a>
{% endblock %}
