{% extends 'base.html.twig' %}

{% block title %}Galerie d'art{% endblock %}

{% block body %}
    <h3 class="text-center mt-5">Oeuvres répertoriées</h3>


    <div class="m-5 row row-cols-1 row-cols-md-2 g-5">
        {% for art in art %}

        <div class="col">
            <div class="card text-center d-flex text-bg-dark">
                <img src="{{ asset('uploads/arts/' ~ art.imageFile) }}" class="card-img" alt="vente">
                <div class="card-body">
                    <h5 class="card-title">{{ art.label }}</h5>
                    <p class="card-text">{{ art.height }} cm x {{ art.width }} cm</p>
                    <p class="card-text">{{ art.artist }}</p>
                    <p class="card-text">{{ art.price }} €</p>
                    <a href="{{ path('admin_art_show', {'id': art.id}) }}" class="btn btn-sm btn-light" role="button"><i class="bi bi-eye" title="Afficher"></i></a>
                    <a href="{{ path('admin_art_edit', {'id': art.id}) }}" class="btn btn-sm btn-light" role="button"><i class="bi bi-pencil-square" title="Modifier"></i></a>

                </div>
            </div>
        </div>
        {% endfor %}
        </div>

{% endblock %}
